# Copy this file from ".env.sample" to ".env", then fill in these values
# A Ditto AppID and Playground token can be obtained from https://portal.ditto.live
DITTO_DATABASE_ID=""
DITTO_AUTH_TOKEN=""
DITTO_AUTH_URL=""