SwiftUI/build
SwiftUI/Ditto Edge Studio.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
SwiftUI/Ditto Edge Studio/dittoConfig.plist
SwiftUI/scripts/*.dmg
SwiftUI/scripts/*.dmg.zip
rust/.idea
rust/target
.env
edgetbot/target
edgetbot/.idea
edgebot/target
edgebot/.idea
