SwiftUI/build
SwiftUI/Ditto Edge Studio.xcodeproj/project.xcworkspace/xcuserdata
.DS_Store
SwiftUI/Ditto Edge Studio/dittoConfig.plist
SwiftUI/scripts/*.dmg
SwiftUI/scripts/*.dmg.zip
rust/.idea
rust/target
.env
rust/.vscode
rust/debug
rust/designs
/wpf/.claude
/wpf/.vs
/wpf/EdgeStudio/bin
/wpf/EdgeStudio/obj
/wpf/EdgeStudioTests/obj
/wpf/EdgeStudioTests/bin
