<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>ditto-app-studio</string>
	<key>databaseId</key>
	<string></string>
	<key>authUrl</key>
	<string></string>
	<key>websocketUrl</key>
	<string></string>
	<key>token</key>
	<string></string>
	<key>httpApiUrl</key>
	<string></string>
	<key>httpApiKey</key>
	<string></string>
</dict>
</plist>
